{% extends 'base.html.twig' %}

{% block title %}Shoppingportal.sk{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">First row</div>
        </div>
        <div class="row">
            <div class="col">Second row</div>
        </div>
    </div>
{% endblock %}
